html,
body {
  width: 100%;
  height: auto;
}

html {
  --red: #fc3c30;
  --blue: #30BCEd;
  --redish: hsla(0, 84%, 76%, 0.8);
}

body {
  margin: 0;
  color: #191919;
  font-family: 'Open Sans', sans-serif;
  background: -webkit-linear-gradient(233deg, hsla(0, 1%, 72%, 0.5), hsla(0, 1%, 72%, 0) 70.71%),
            -webkit-linear-gradient(323deg, hsla(197, 100%, 73%, 0.5), hsla(197, 100%, 73%, 0) 70.71%),
            -webkit-linear-gradient(114deg, hsla(1, 100%, 71%, 0.5), hsla(1, 100%, 71%, 0) 70.71%);  background: -o-linear-gradient(233deg, hsla(0, 1%, 72%, 0.5), hsla(0, 1%, 72%, 0) 70.71%),
            -o-linear-gradient(323deg, hsla(197, 100%, 73%, 0.5), hsla(197, 100%, 73%, 0) 70.71%),
            -o-linear-gradient(114deg, hsla(1, 100%, 71%, 0.5), hsla(1, 100%, 71%, 0) 70.71%);  background: linear-gradient(217deg, hsla(0, 1%, 72%, 0.5), hsla(0, 1%, 72%, 0) 70.71%),
            linear-gradient(127deg, hsla(197, 100%, 73%, 0.5), hsla(197, 100%, 73%, 0) 70.71%),
            linear-gradient(336deg, hsla(1, 100%, 71%, 0.5), hsla(1, 100%, 71%, 0) 70.71%);
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

#main {
  width: 100vw;
  height: auto;
  margin: 0 auto;
  padding: .5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#title {
  margin: 0;
  display: none;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  color: hsl(200, 87%, 35%);
  text-shadow: 2px 2px 0 var(--red),
               -2px -2px 0 var(--red),
               2px -2px 0 var(--red),
               -2px 2px 0 var(--red);
  font-family: 'Open Sans Condensed', sans-serif;
}

#img-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#image {
  width: 100%;
  height: auto;
  display: none;
  margin: 0 auto;
  max-width: 1012px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px hsl(10, 97%, 59%);
          box-shadow: 0 0 0 4px hsl(10, 97%, 59%);
}

#img-caption {
  display: none;
  font-weight: 900;
  margin-top: .5em;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
}

#tribute-images {
  margin-bottom: 1rem;
}

#tribute-info {
  width: 100%;
  padding: 1.5rem 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#tribute-info p {
  margin-bottom: 0;
  font-size: 1.1rem;
  text-align: justify;
}

.tribute-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.tribute-img {
  width: 100%;
  height: auto;
  max-width: 450px;
  border-radius: 50%;
  margin-bottom: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 0 4px hsl(10, 97%, 59%);
          box-shadow: 0 0 0 4px hsl(10, 97%, 59%);
}

.tribute--blue {
  -webkit-box-shadow: 0 0 0 4px hsl(197, 84%, 54%);
          box-shadow: 0 0 0 4px hsl(197, 84%, 54%);
}

.tribute-biography h4 {
  padding: .25rem;
  background-color: var(--red);
}

.tribute-biography ul {
  padding-left: 20px;
}

.tribute-openings h4 {
  padding: .25rem;
  margin-bottom: 10px;
  background-color: var(--blue);
}

.tribute-biography ul,
.tribute-openings ul {
  margin: 0;
  list-style-type: none;
}

.tribute-openings li {
  font-weight: bold;
}

footer {
  width: 100%;
  padding: 1.5rem 0;
}

#link {
  font-weight: bold;
}

@media only screen and (min-width: 400px) {
  #title {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 800px) {
  #title {
    font-size: 5rem;
  }
  #img-caption {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1000px) {
  #title {
    font-size: 6rem;
  }
}

@media only screen and (min-width: 1200px) {
  #main {
    max-width: 1012px;
  }
  #title {
    font-size: 10rem;
  }
  #img-caption {
    font-size: 3rem;
  }
  #tribute-info p {
    font-size: 1.5rem;
  }
  .tribute-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .tribute-biography h4,
  .tribute-openings h4 {
    font-size: 1.5rem;
  }
  .tribute-biography ul,
  .tribute-openings ul {
    font-size: 1.5rem;
  }
  footer p {
    font-size: 1.5rem;
  }
}
